Repository dPliakos/personal-webpage: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, prettier --write, stylelint --fix

build: update eslint.
  .eslintrc.js
  .prettierrc
  gatsby-config.js
  no-parse.lintstagedrc
  noparse-.huskyrc
  package-lock.json
  package.json
  src/components/components/header/header.js
  src/components/components/header/header.scss
  src/components/components/header/header.tsx
  src/components/components/personal-info/personal-info.js
  src/components/components/personal-info/personal-info.scss
  src/components/components/personal-info/personal-info.tsx
  src/components/header.js
  src/components/image.js
  src/components/layout.js
  src/components/layouts/css-colors/_css-colors.scss
  src/components/layouts/css-init/_css-init.scss
  src/components/layouts/css-presets/css-presets.js
  src/components/layouts/css-presets/css-presets.scss
  src/components/layouts/css-presets/css-presets.tsx
  src/components/layouts/layout-base/layout-base.js
  src/components/layouts/layout-base/layout-base.scss
  src/components/layouts/typography/_typography.scss
  src/components/layouts/typography/typography.tsx
  src/components/pages/index/index.js
  src/components/pages/index/index.tsx
  src/components/seo.js
  src/data/personal-info.json
  src/pages/404.js
  src/pages/index.js
  src/pages/index.tsx
  src/pages/page-2.js
Due: npm run format, prettier --write, stylelint --fix

build: update eslint plugins and remove trash js files.
  .eslintrc.js
  src/components/components/header/header.js
  src/components/components/personal-info/personal-info.js
  src/components/layouts/css-presets/css-presets.js
  src/components/layouts/layout-base/layout-base.js
  src/components/pages/index/index.js
  src/pages/index.js
Due: npm run format

feat: add the navigation bar.
  gatsby-node.js
  src/components/components/header/header.scss
  src/components/components/header/header.tsx
  src/components/components/navigation-bar/navigation-bar.scss
  src/components/components/navigation-bar/navigation-bar.tsx
  src/components/layouts/css-colors/_css-colors.scss
Due: npm run format, prettier --write, stylelint --fix

feat: use graphql.
  src/components/components/personal-info/personal-info.tsx
  src/data/personal-info/personal-info.json
  src/pages/index.tsx
Due: npm run format

style: add style to header.
  src/components/components/navigation-bar/navigation-bar.scss
  src/components/components/navigation-bar/navigation-bar.tsx
  src/components/components/personal-info/personal-info.scss
  src/components/components/personal-info/personal-info.tsx
  src/components/layouts/typography/_typography.scss
Due: npm run format, prettier --write, stylelint --fix

build: Add the changelog.
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

style: theme the profile image.
  src/components/components/personal-info/personal-info.scss
Due: prettier --write, stylelint --fix

feat: create all pages.
  no-parse.lintstagedrc
  noparse-.huskyrc
  src/components/components/navigation-bar/navigation-bar.tsx
  src/components/components/personal-info/personal-info.tsx
  src/components/layouts/layout-base/layout-base.scss
  src/components/layouts/layout-base/layout-base.tsx
  src/components/pages/community/community.tsx
  src/components/pages/contact/contact.tsx
  src/components/pages/education/education.tsx
  src/components/pages/experience/experience.tsx
  src/components/pages/open-source/open-source.tsx
  src/components/pages/portfolio/portfolio.tsx
  src/components/pages/skills/skills.tsx
  src/pages/community.tsx
  src/pages/contact.tsx
  src/pages/education.tsx
  src/pages/experience.tsx
  src/pages/index.tsx
  src/pages/open-source.tsx
  src/pages/page-2.js
  src/pages/portfolio.tsx
  src/pages/skills.tsx
Due: npm run format, prettier --write, stylelint --fix

feat: Create the layout for standard pages.
  src/components/components/header/header.tsx
  src/components/layouts/css-presets/css-presets.scss
  src/components/layouts/layout-base/layout-base.scss
  src/components/layouts/layout-base/layout-base.tsx
  src/components/layouts/layout-standard-page/layout-standard-page.scss
  src/components/layouts/layout-standard-page/layout-standard-page.tsx
  src/components/pages/education/education.tsx
  src/components/pages/index/index.tsx
Due: npm run format, prettier --write, stylelint --fix

feat: apply the standard page to every apge.
  gatsby-config.js
  src/components/components/personal-info/personal-info.scss
  src/components/components/personal-info/personal-info.tsx
  src/components/pages/community/community.tsx
  src/components/pages/experience/experience.tsx
  src/components/pages/open-source/open-source.tsx
  src/components/pages/skills/skills.tsx
  src/images/profile.jpg
  src/images/terminal.svg
Due: npm run format, prettier --write, stylelint --fix

Create LICENSE
  LICENSE
Due: none

chore: update content.
  src/components/pages/contact/contact.tsx
  src/components/pages/open-source/open-source.tsx
  src/components/pages/portfolio/portfolio.tsx
  src/components/pages/skills/skills.tsx
Due: npm run format

fix: content.
  src/components/pages/skills/skills.tsx
Due: npm run format

chore: add github and gitlab links.
  src/components/pages/contact/contact.tsx
Due: npm run format

chore: update content.
  src/components/components/navigation-bar/navigation-bar.tsx
  src/components/pages/community/community.tsx
  src/components/pages/contact/contact.tsx
  src/components/pages/experience/experience.tsx
  src/components/pages/open-source/open-source.tsx
  src/components/pages/skills/skills.tsx
Due: npm run format

style: update navigation and links style.
  src/components/components/header/header.scss
  src/components/components/navigation-bar/navigation-bar.scss
  src/components/layouts/css-presets/css-presets.scss
  src/components/layouts/layout-standard-page/layout-standard-page.scss
Due: prettier --write, stylelint --fix

fix(typography): replace the font-family assertion.
  src/components/layouts/css-presets/css-presets.scss
  src/components/layouts/typography/_typography.scss
  src/images/gatsby-astronaut.png
  src/images/gatsby-icon.png
Due: prettier --write, stylelint --fix

test commit
  src/components/pages/index/index.tsx
Due: npm run format

test commit 2
  src/components/pages/index/index.tsx
Due: npm run format

build the page already.
  src/components/pages/index/index.tsx
Due: npm run format

build test 6
  src/components/pages/index/index.tsx
Due: npm run format

build test 7
  src/components/pages/index/index.tsx
Due: npm run format

build test 8
  src/components/pages/index/index.tsx
Due: npm run format

build test 9
  src/components/pages/index/index.tsx
Due: npm run format

build test 10
  src/components/pages/index/index.tsx
Due: npm run format

build test 11
  src/components/pages/index/index.tsx
Due: npm run format

build test 12
  src/components/pages/index/index.tsx
Due: npm run format

build test 13
  src/components/pages/index/index.tsx
Due: npm run format

build test 14
  src/components/pages/index/index.tsx
Due: npm run format

build test 15
  src/components/pages/index/index.tsx
Due: npm run format

build test 16
  src/components/pages/index/index.tsx
  test.sh
Due: npm run format

build test 17
  src/components/pages/index/index.tsx
Due: npm run format

feat: Create mobile menu.
  package-lock.json
  package.json
  src/components/components/header/header.scss
  src/components/components/navigation-bar/navigation-bar.scss
  src/components/components/navigation-bar/navigation-bar.tsx
  src/components/components/personal-info/personal-info.scss
  src/components/layouts/css-init/_css-init.scss
  src/components/layouts/css-variables/_css-variables.scss
  src/components/layouts/layout-base/layout-base.scss
  src/images/menu.svg
  test.sh
Due: npm run format, prettier --write, stylelint --fix

feat: theme the responsive behavior of the site.
  src/components/components/header/header.scss
  src/components/components/navigation-bar/navigation-bar.scss
  src/components/components/navigation-bar/navigation-bar.tsx
  src/components/components/personal-info/personal-info.scss
  src/components/layouts/layout-base/layout-base.scss
  src/components/layouts/typography/_typography.scss
Due: npm run format, prettier --write, stylelint --fix

fix: Make the title font smaller at smaller screens.
  src/components/components/navigation-bar/navigation-bar.tsx
  src/components/components/personal-info/personal-info.scss
  src/components/layouts/css-presets/css-presets.scss
  src/components/layouts/typography/_typography.scss
Due: npm run format, prettier --write, stylelint --fix

chore: disable ts lint for some lines.
  src/components/components/navigation-bar/navigation-bar.tsx
  src/components/components/personal-info/personal-info.tsx
  src/components/pages/index/index.tsx
Due: npm run format

fix: Make the hader take the full height at desktop.
  src/components/components/header/header.scss
Due: prettier --write, stylelint --fix

fix: Make the navigation text capitalized.
  src/components/components/navigation-bar/navigation-bar.tsx
Due: npm run format

fix: Add Arial as default font until the fonts are fixed.
  src/components/layouts/css-presets/css-presets.scss
Due: prettier --write, stylelint --fix

style: Add red background ro text selection.
  src/components/layouts/css-presets/css-presets.scss
Due: prettier --write, stylelint --fix

Path conditions:
  npm run format: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.scss) or (any of: {*.{json,md}})
  stylelint --fix: any of: *.scss
