Repository dPliakos/personal-webpage: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, prettier --write, stylelint --fix

fix: Fix the small header heaight.
  src/components/components/header/header.scss
Due: prettier --write, stylelint --fix

feat: Create the 404 page.
  src/components/pages/404/404.js
  src/components/pages/not-found/not-found.tsx
  src/pages/404.js
  src/pages/404.tsx
Due: npm run format

feat: update the website SEO.
  gatsby-config.js
  package-lock.json
  package.json
  src/components/components/header/header.tsx
  src/components/header.js
  src/components/layout.js
  src/components/layouts/layout-base/layout-base.tsx
  src/components/layouts/seo/seo.tsx
  src/components/pages/community/community.tsx
Due: npm run format

build: Resolve the lodash vulnerability.
  package-lock.json
  package.json
Due: none

style: update the font faces.
  src/components/components/navigation-bar/navigation-bar.scss
  src/components/components/personal-info/personal-info.scss
  src/components/layouts/css-presets/css-presets.scss
  src/components/layouts/layout-base/layout-base.tsx
  src/components/layouts/layout-standard-page/layout-standard-page.tsx
  src/components/layouts/seo/seo.tsx
  src/components/layouts/typography/_typography.scss
  src/components/pages/contact/contact.tsx
Due: npm run format, prettier --write, stylelint --fix

fix: import the fonst an their own file.
  src/components/layouts/css-presets/css-presets.tsx
  src/components/layouts/typography/_typography.scss
  src/fonts/arimo/_font-face-arimo.scss
  src/fonts/cooper-hew/_font-face-cooper-hewitt.scss
  src/fonts/fonts.scss
  src/fonts/legue-spartan/_font-face-legue-spartan.scss
Due: npm run format, prettier --write, stylelint --fix

feat: Add the social bar
  src/components/components/header/header.tsx
  src/components/components/social-media-bar/social-media-bar.scss
  src/components/components/social-media-bar/social-media-bar.tsx
  src/data/social-media/social-media.json
  src/pages/404.tsx
  src/pages/community.tsx
  src/pages/contact.tsx
  src/pages/education.tsx
  src/pages/experience.tsx
  src/pages/index.tsx
  src/pages/open-source.tsx
  src/pages/portfolio.tsx
  src/pages/skills.tsx
Due: npm run format, prettier --write, stylelint --fix

fix: add the social media at the open source page too.
  src/pages/open-source.tsx
Due: npm run format

feat: add active link indicator.
  src/components/components/header/header.tsx
  src/components/components/navigation-bar/navigation-bar.scss
  src/components/components/navigation-bar/navigation-bar.tsx
  src/components/layouts/layout-base/layout-base.scss
  src/pages/404.tsx
  src/pages/community.tsx
  src/pages/contact.tsx
  src/pages/education.tsx
  src/pages/experience.tsx
  src/pages/index.tsx
  src/pages/open-source.tsx
  src/pages/portfolio.tsx
  src/pages/skills.tsx
Due: npm run format, prettier --write, stylelint --fix

fix: Add a slash at the end of the route in nan tesing.
  src/components/components/navigation-bar/navigation-bar.tsx
Due: npm run format

fix: Update depedencies.
  package-lock.json
  package.json
Due: none

feat(skills): Show the skills using icons.
  src/components/components/header/header.scss
  src/components/components/skill-row/skill-row.scss
  src/components/components/skill-row/skill-row.tsx
  src/components/pages/skills/skills.scss
  src/components/pages/skills/skills.tsx
  src/data/social-media/social-media.json
  src/images/icons/angular.png
  src/images/icons/chai.png
  src/images/icons/debian.png
  src/images/icons/docker-compose.png
  src/images/icons/docker.png
  src/images/icons/flask.png
  src/images/icons/gatsby.png
  src/images/icons/gitlab.png
  src/images/icons/graphql.png
  src/images/icons/java.png
  src/images/icons/jest.png
  src/images/icons/js.png
  src/images/icons/maria-db.png
  src/images/icons/mocha.jpeg
  src/images/icons/mocha.svg
  src/images/icons/mongo.png
  src/images/icons/nodejs.png
  src/images/icons/open-suse.png
  src/images/icons/php.png
  src/images/icons/postgres.png
  src/images/icons/python.png
  src/images/icons/react.png
  src/images/icons/sinon.png
Due: npm run format, prettier --write, stylelint --fix

chore(skills): Add sass
  src/components/components/header/header.scss
  src/components/components/skill-row/skill-row.tsx
  src/components/pages/skills/skills.tsx
  src/images/icons/sass.png
Due: npm run format, prettier --write, stylelint --fix

build: update packages.
  package-lock.json
Due: none

feat(social-media): Add the email list.
  src/components/components/social-media-bar/social-media-bar.scss
  src/components/components/social-media-bar/social-media-bar.tsx
  src/components/components/social-media-list/social-media-list.scss
  src/components/components/social-media-list/social-media-list.tsx
  src/data/social-media/social-media.json
Due: npm run format, prettier --write, stylelint --fix

feat: Add gatsby image.
  package-lock.json
  package.json
  src/components/components/header/header.tsx
  src/components/components/personal-info/personal-info.tsx
  src/data/images/icons/angular.png
  src/data/images/icons/chai.png
  src/data/images/icons/debian.png
  src/data/images/icons/docker-compose.png
  src/data/images/icons/docker.png
  src/data/images/icons/flask.png
  src/data/images/icons/gatsby.png
  src/data/images/icons/gitlab.png
  src/data/images/icons/graphql.png
  src/data/images/icons/java.png
  src/data/images/icons/jest.png
  src/data/images/icons/js.png
  src/data/images/icons/maria-db.png
  src/data/images/icons/mocha.jpeg
  src/data/images/icons/mocha.svg
  src/data/images/icons/mongo.png
  src/data/images/icons/nodejs.png
  src/data/images/icons/open-suse.png
  src/data/images/icons/php.png
  src/data/images/icons/postgres.png
  src/data/images/icons/python.png
  src/data/images/icons/react.png
  src/data/images/icons/sass.png
  src/data/images/icons/sinon.png
  src/data/images/menu.svg
  src/data/images/profile.jpg
  src/data/images/terminal.svg
  src/pages/404.tsx
  src/pages/community.tsx
  src/pages/contact.tsx
  src/pages/education.tsx
  src/pages/experience.tsx
  src/pages/index.tsx
  src/pages/open-source.tsx
  src/pages/portfolio.tsx
  src/pages/skills.tsx
Due: npm run format

chore: Make the mail button red when is at open state.
  src/components/components/social-media-list/social-media-list.scss
Due: prettier --write, stylelint --fix

add sentry'
  package-lock.json
  package.json
  src/components/layouts/layout-standard-page/layout-standard-page.tsx
Due: npm run format

build: Add CI configuration.
  .gitlab-ci.yml
  Dockerfile
Due: none

Add .circleci/config.yml
  .circleci/config.yml
Due: none

build: Update dependencies
  package-lock.json
  package.json
Due: none

update repo
  .dockerignore
  Dockerfile
  package-lock.json
  package.json
  src/components/components/social-media-list/social-media-list.scss
Due: prettier --write, stylelint --fix

feat(experience): Add the it auth
  src/components/pages/experience/experience.tsx
  src/pages/experience.tsx
Due: npm run format

core: update social media
  src/components/components/social-media-bar/social-media-bar.tsx
  src/components/components/social-media-list/social-media-list.tsx
  src/data/social-media/social-media.json
Due: npm run format

deploy test
  .gitignore
  .gitlab.yml
  Dockerfile
  config/nginx.conf.example
  docker-compsoe.yml
  package-lock.json
  package.json
Due: none

Path conditions:
  npm run format: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.scss) or (any of: {*.{json,md}})
  stylelint --fix: any of: *.scss
